[submodule "includes/lessphp"]
	path = includes/lessphp
	url = https://github.com/leafo/lessphp
[submodule "includes/wp-less"]
	path = includes/wp-less
	url = https://github.com/sanchothefat/wp-less.git
[submodule "modules/extra.menu/inc"]
	path = modules/extra.menu/inc
	url = https://github.com/extralagence/extra.menu.git
[submodule "modules/extra.slider/inc"]
	path = modules/extra.slider/inc
	url = https://github.com/extralagence/extra.slider.git
[submodule "modules/extra.cookies/inc"]
	path = modules/extra.cookies/inc
	url = git://github.com/extralagence/extra.cookies.git
[submodule "includes/TGM-Plugin-Activation"]
	path = includes/TGM-Plugin-Activation
	url = https://github.com/TGMPA/TGM-Plugin-Activation.git
[submodule "modules/fancybox/inc"]
	path = modules/fancybox/inc
	url = https://github.com/fancyapps/fancyBox.git
