/*********************
 *
 * BETTER SIDEBAR
 *
 ********************/
#side-sortables {
	.postbox {
		//border-bottom: 0;
		margin-bottom: 10px;
	}
	.postbox .hndle,
	.stuffbox .hndle {
		border-bottom: 0;
	}
}

#submitdiv {
	#publishing-action {
		float: none;
		padding: 10px 0 0 10px;
		position: absolute;
		top: 0;
		left: 0;
		.spinner {
			float: right;
		}
	}
	.inside {
		padding-top: 30px;
	}
	#major-publishing-actions {
		//border: 0;
	}
	#misc-publishing-actions {
		padding-top: 20px;
	}
	#minor-publishing-actions {
		text-align: left;
		padding-top: 40px;
	}
	.preview {
		clear: both;
		float: none;
	}
	.spinner {
		float: none;
	}
	input#save-post {
		float: none;
		margin-top: 10px;
	}
	#save-action {
		margin-bottom: 10px;
	}
}

/*********************
 *
 * WELCOME PANEL
 *
 ********************/
#extra_welcome_dashboard_widget {
	padding: 20px;
	.handlediv,
	.hndle,
	.welcome-panel-close {
		display: none;
	}
	h2 {
		margin: 0;
		padding: 0;
	}
	.inside {
		margin: 0;
		padding: 0;
	}
	.welcome-panel {
		-webkit-box-shadow: none;
		box-shadow: none;
		border: 0;
		padding: 0;
		margin: 0;
	}
	.welcome-panel .welcome-panel-column ul {
		margin: 20px 0 0 0;
	}
	.welcome-panel .welcome-panel-column li:last-of-type {
		margin-bottom: 0;
	}
}

#dashboard-widgets-wrap .empty-container {
	display: none;
}

.metabox-holder .postbox-container .empty-container,
#cpt_info_box {
	display: none;
}

body.index-php #screen-meta,
body.index-php #screen-meta-links {
	display: none;
}

/*********************
 *
 * NO MORE ATTACHMENT PAGE LINK
 *
 ********************/
.post-php select.link-to option[value="post"],
.post-php select[data-setting="link"] option[value="post"] {
	display: none;
}

/*********************
 *
 * REMOVE REDUX ADS
 *
 ********************/
.rAds,
.rAds * {
	display: none !important;
}

/*********************
 *
 * BETTER PROFILE PAGE
 *
 ********************/
#profile-page {
	.user-url-wrap,
	.user-googleplus-wrap,
	.user-twitter-wrap,
	.user-description-wrap,
	.user-facebook-wrap,
	.user-rich-editing-wrap,
	.user-comment-shortcuts-wrap,
	.user-admin-color-wrap {
		display: none;
	}
}