#_second_title_metabox {
	background: transparent;
	border: 0 none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin: 20px 0;
}
#_second_title_metabox .inside {
	margin: 0;
	padding: 0;
}
#_second_title_metabox .hndle {
	display: none;
}
#_second_title_metabox .extra-text-input{
	padding: 3px 8px;
	font-size: 1.5em;
	line-height: 100%;
	width: 100%;
	outline: 0;
}
#_second_title_metabox label {
	color: #777;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: left;
}

#_second_title_metabox .extra-input-wrapper {
	width: 100%;
}
#_second_title_metabox textarea {
	width: 100%;
	height: 3em;
	padding: 3px 8px;
	font-size: 1.5em;
	line-height: 1.25em;
	outline: 0;
}

#titlediv #title-prompt-text {
	color: #777;
	font-size: 1em;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
}